# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
gameboy2d.opensdf
gameboy2d.sdf
gameboy2d.v11.suo
gameboy2d.vcxproj.filters
ipch/gameboy2d-e8c033c8/gameboy2d-8eebaa86.ipch
